@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500&display=swap');

/* ----animation---- */

@keyframes animdrop {
    
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    100% {
        transform-origin: top;
        transform: scaleY(1);
    }
}

@keyframes animup {
    
    0% {
        transform-origin: top;
        transform: scaleY(1);
    }

    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}

@keyframes formdrop {
    0% {
        background-color: white;
        top: -50%;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

@keyframes formup {
    100% {
        top: -50%;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

@keyframes bganime {
    0% {
        background-color: rgba(0, 0, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

/*  */

* {
    font-family: 'Unbounded', cursive;
    font-weight: 200;
}

/*  */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;
}

/* ---- header ---- */

.site-header {
    background-color: grey;
    color: aliceblue;
    border-bottom: 2px solid black;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}


.grid {
    display: grid;
    align-items: center;
}

.logo-box {
    grid-row: 1;
    grid-column: 1/-1;
}

.logo-link {
    display: inline-flex;
    place-content: center;
    gap: 3rem;
}

.logo-link__item {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-self: center;
    align-content: center;
    filter: drop-shadow(0 0.5rem 0.5rem black);
    transition: .2s;
}

.logo-link__item:hover {
    filter: drop-shadow(0 0.1rem 0.1rem black);
    transform: scale(1.1);
}

.logo-link__item img {
    width: 50px;
}

.navi {
    display: inline-flex;
    justify-content: end;
    grid-column: auto;
    grid-row: 1;
}

.navi__block {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

.navi__block_item {
    white-space: nowrap;
    transition: .2s;
}

.navi__block_item a {
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.navi__block_item:hover {
    color: black;
}

.menu-icon {
    display: none;
}

/* ----form---- */

.form {
    z-index: 3;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: formdrop .5s forwards;
}

.form-anime {
    animation: formup .5s forwards;
}

#form-background {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.357);
    height: 100vh;
    width: 100vw;
    animation: bganime 2s forwards;
}

#form-exit {
    display: block;
    position: relative;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    background-color: rgb(239, 100, 100);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

#form-exit:hover {
    background-color: rgb(200, 27, 27);
    filter: drop-shadow(0 0.05rem 0.05rem black);
}

#form-exit::before,
#form-exit::after {
    content: '';
    background-color: rgb(199, 60, 60);
    position: absolute;
    border-radius: 5px;
    width: 15px;
    height: 2px;
    top: 9px;
    left: 2.5px;
}

#form-exit::before  {
    transform: rotate(45deg);
}

#form-exit::after{
    transform: rotate(135deg);
}

.form-box {
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.form-box__line {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    gap: 15px;
}

.form-box__line h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-box__inputs {
    display: flex;
    flex-direction: column;
    margin: 0 35px;
    gap: 15px;
}

.form-box__inputs input {
    text-indent: 10px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

.form-box__line button {
    border-radius: 10px;
    padding: 5px 25px;
}

/* ---- main ---- */

.site-main {
    position: relative;
}

/* ---- python ---- */



/* ---- colors and media + hide ---- */

.bg-gray {
    background-color: gray;
}

.hide {
    display: none;
}

@media (max-width: 1280px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .logo-link__item {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .logo-link__item img {
        width: 35px;
    }

    h1.logo-link__item {
        display: none;
    }

    .menu-icon,
    .cross {
        display: block;
        position: relative;
        justify-self: end;
        width: 30px;
        height: 25px;
        grid-row: 1;
        grid-column: auto;
        filter: drop-shadow(0 0.5rem 0.5rem black);
    }

    .menu-icon:hover,
    .cross:hover {
        filter: drop-shadow(0 0.15rem 0.15rem black);
    }

    .menu-icon span {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        top: 11px;
        transition: .2s;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        transition: .2s;
    }

    .menu-icon::after {
        top: 0;
    }

    .menu-icon::before {
        bottom: 0;
    }

    .cross::before,
    .cross::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        transition: .2s;
    }

    .cross::after {
        transform: rotate(45deg);
        bottom: 50%;
    }

    .cross::before {
        transform: rotate(135deg);
        bottom: 50%;
    }

    .navi {
        justify-content: center;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        animation: animdrop .2s forwards;
    }

    .naviup {
        animation: animup .2s forwards;
    }

    .navi__block {
        display: block;
        align-items: center;
    }

    .navi__block_item {
        text-align: center;
        padding: 20px;
        font-size: 2rem;
    }
}
#reg-form__reset:hover{
    background-color: rgb(177, 71, 97);
}
#reg-form__submit:hover {
    background-color: rgb(62, 222, 115);
}